/* required file for gridstack to work */
@import "https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.min.css";

/* Optional styles for demos */
.btn-primary {
  color: #fff;
  background-color: #007bff;
}

.btn {
  display: inline-block;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

.grid-stack {
  /*background: lightgoldenrodyellow;*/
}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #18bc9c;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
  border-radius: 10px;
  /*box-shadow: 10px 10px 5px grey;*/
}